
<ion-view view-title="{{city.name}}">
  <ion-content class="padding">
    <map center="{{city.coord}}" zoom="13" disable-default-u-i="true">
    <p>
      {{description.description}}
    </p>
  </ion-content>
</ion-view>
