<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="login(doLoginForm)" name="doLoginForm" novalidate="novalidate">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" name="username" ng-model="loginData.username" ng-required="true" ng-minlength="5" ng-maxlength="20">
        </label>
        <div class="form-errors" ng-messages="doLoginForm.username.$error" style="color: maroon" role="alert">
        <div ng-messages-include="templates/form-errors.html"></div>
        </div>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" name="password" ng-model="loginData.password" ng-required="true" ng-minlength="5" ng-maxlength="20">
        </label>
        <div class="form-errors" ng-messages="doLoginForm.password.$error" style="color: maroon" role="alert">
        <div ng-messages-include="templates/form-errors.html"></div>
        </div>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Log in</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
