<ion-view view-title="Weather">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="city in weather" type="item-text-wrap" href="#/tab/weather/{{city.id}}">
        <h2>{{city.name}}</h2>
        <p>{{city.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(city)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
