
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

<!--added appropriate icons-->

  <ion-tab title="Login" icon-off="ion-ios-body-outline" icon-on="ion-ios-body" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Weather" icon-off="ion-ios-cloud-outline" icon-on="ion-ios-cloud" href="#/tab/weather">
    <ion-nav-view name="tab-weather"></ion-nav-view>
  </ion-tab>


</ion-tabs>
